<!DOCTYPE html>
<html>
    <head>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='hind.css') }}">
        <script src="{{ url_for('static', filename='hinda.js') }}" defer></script>
    </head>
    <body>
        <form action="/analyser" method="post" enctype="multipart/form-data">
    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
  
    <label for="file-upload" id="file-drag">
      <img id="file-image" src="#" alt="Preview" class="hidden">
      <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div>Select a file or drag here</div>
        <div id="notimage" class="hidden">Please select an image</div>
        <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
      </div>
      <div id="response" class="hidden">
        <div id="messages"></div>
        <progress class="progress" id="file-progress" value="0">
          <span>0</span>%
        </progress>
      </div>
    </label>
    <div>
      <input type="submit" id="submit" value="analyse"  name="submit"> 
    </div>
  </form>