<!DOCTYPE html>
<html>
    <head>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='hind.css') }}">
        <script src="{{ url_for('static', filename='hinda.js') }}" defer></script>
    </head>
    <body>
      <div class="modal">
        <form action="/analyser" method="post" enctype="multipart/form-data">
      
        <div class="modal-body">
          <h2 class="modal-title">Upload a file</h2>
          <p class="modal-description">Attach the file below</p>
          <div class="upload-area">
      
          
        </g>
      </svg>
            </span>
            <span class="upload-area-title">Drag file(s) here to upload.</span>
            <span class="upload-area-description">
              Alternatively, you can select a file by <br/>
              <input class="btn-primary" id="file-upload" type="file" name="fileUpload" accept="image/*" />
      
            </span>
          </div>
        </div>
        <div class="modal-footer">
            <input class="btn-primary" type="submit" id="submit" value="analyse"  name="submit"> 
          </div>
        </form>
      </div>
      
      