<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hind.css') }}">
    <script src="{{ url_for('static', filename='hinda.js') }}" defer></script>
    
</head>
<body>
    <h1>Welcome</h1>
    <div class="btn-box">
        <a href="{{ url_for('analyser') }}" class="btn-2"> Analyser </a>
        <a href="{{ url_for('dashboard') }}" class="btn-2">Dashboard</a>
      </div>
</body>
</html>
